<div class="row">

    <div class="col-lg-10">
        <mat-card *ngFor="let list of costArray">
            <div class="row">
                <div class="col-sm-4 form-group" style="margin-top: 10%;margin-left: 10%;">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                </div>
                <div class="col-sm-4 form-group" style="margin-top: 10%;margin-left: 10%;">
                    <mat-card-content>
                        <div class="row" style="align-items: center;">
                            <div>Title</div>
                        </div>
                        <div class="col-sm-2" style="align-items: left;">

                            <div>Author</div>
                            <div>SUBJECT</div>
                            <div>Type</div>


                        </div>
                        <div style="text-align: right;">100/-</div>

                    </mat-card-content>
                </div>

            </div>
        </mat-card>
    </div>
</div>