<!-- <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" formControlName="address" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="dateOfBirth">Date Of Birth</label>
            <input type="text" id="dateOfBirth" class="form-control" formControlName="dateOfBirth" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="contactNumber">Contact Number</label>
            <input type="text" id="contactNumber" class="form-control" formControlName="contactNumber" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email" required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" required>
          </div>
          <div class="col-sm-5 form-group">
            <select class="custom-select" class="form-control" formControlName="dropDown" >
              <option *ngFor="let city of oppoSuits" [value]="city.id">{{city.courseName}}</option>
            </select>
          </div>
          <div class="col-sm-5 form-group">
            <select class="custom-select" class="form-control" formControlName="dropDown1"  >
              <option *ngFor="let name of institute" [value]="name">{{name}}</option>
            </select>
          </div>
        </div>
  
  
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Register</button>
  
            <button class="btn btn-primary" type="button" (click)="reset()">Clear</button>
          </div>
        </div>
      </form>
    </div> -->
<!-- <mat-card>Simple card
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </form>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </mat-card>
      
      <mat-checkbox (ngModelChange)="updateAllComplete()">Check Me!!!</mat-checkbox> 
       -->




  <!-- <ul>
    <a>
      <img src="C:\Users\Mamatha\Desktop\ALX_Logo.jpg" width="60" height="60" alt="Image">
    </a>
    <li><a href="#Contact-us">Contact-us</a></li>
    <li><a href="#About Us">About Us</a></li>
    <li><a href="What it is">What it is</a></li>
    <li><a href="#Home">Home</a></li>
  </ul> -->
  <!-- <mat-checkbox class="example-margin" (change)="onChange($event)" value="suresh">Check me!</mat-checkbox> -->

  